// Import page-specific CSS files here.
@import "show";


.text-card-index {
  background-color: white;
  padding: 5px;
  margin: 5px 0px;
  border-radius: 5px;
  color: black;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-dares {
  a:link {
    text-decoration:none;
  }
  a:link {
   text-decoration:none;
  }
}
